---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="py-20">
    <div class="container px-4 mx-auto flex flex-col gap-8">
      <h1 class="text-sky-500 text-2xl font-black text-center">About</h1>
      <p>
        The best JavaScript frameworks and libraries for frontend web
        development that enable optimal use of HTML, CSS and JavaScript by
        Elliot Garamendi.
      </p>
      <p>
        Discover the forefront of JavaScript innovation with our comprehensive
        guide to the most cutting-edge frameworks and libraries. Elevate your
        frontend web development projects using the best tools that seamlessly
        integrate HTML, CSS, and JavaScript. At JS Technologies, we are
        passionate about empowering developers with the latest technologies.
        Explore the dynamic world of JavaScript through our curated content and
        stay ahead in the rapidly evolving tech landscape. Join us on a journey
        led by Elliot Garamendi as we delve into the optimal use of JavaScript,
        unlocking limitless possibilities for your projects. Embrace innovation,
        master the art of coding, and transform your development experience with
        JS Technologies.
      </p>
      <img
        src="https://www.svgrepo.com/show/353925/javascript.svg"
        alt="JS Technologies"
        width="320"
        height="320"
        loading="lazy"
        class="w-80 h-80 mx-auto object-contain"
      />
    </div>
  </section>
</Layout>
