---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
const response = await fetch("http://localhost:4321/data.json");
const data = await response.json();
---

<Layout>
	<section class="py-20">
		<div class="container px-4 mx-auto flex flex-col gap-8">
			<ul class="grid grid-cols-[repeat(auto-fit,_minmax(320px,_1fr))] gap-6">
				{
					data.map((element: object) => {
						return <Card data={element} />;
					})
				}
			</ul>
		</div>
	</section>
</Layout>
