---
import Card from "../components/Card.astro";
import "../styles/css/index.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>JS Technologies</title>
	</head>
	<body>
		<h1>JS Technologies</h1>
		<ul>
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
		</ul>
	</body>
</html>
