<li
  class="rounded-2xl overflow-hidden shadow-sm shadow-sky-500 flex flex-col transition-shadow hover:shadow-md hover:shadow-sky-500"
>
  <a href="#">
    <img
      src="https://raw.githubusercontent.com/github/explore/5cc0a03a302ec862c4aeac2a22a513ae31c35432/topics/astro/astro.png"
      alt="Astro"
      width="640"
      height="360"
      loading="lazy"
      class="w-full h-48 object-cover"
    />
  </a>
  <div class="h-full p-3 bg-zinc-800 flex flex-col gap-2">
    <h2 class="text-lg font-bold">Astro</h2>
    <h3 class="text-zinc-400 font-semibold">
      The web framework for content-driven websites
    </h3>
    <p class="text-sm">
      Astro builds fast content sites, powerful web applications, dynamic server
      APIs, and everything in-between.
    </p>
    <a
      href="#"
      class="px-2 py-0 5 mt-auto border-2 rounded-lg border-sky-500 bg-sky-500 font-semibold text-center transition-all hover:brightness-125"
    >
      Learns
    </a>
  </div>
</li>
