<footer class="mt-auto bg-sky-500">
  <nav class="py-4">
    <div class="container px-4 mx-auto">
      <a href="https://www.linkedin.com/in/elliotgaramendi/">
        <h2
          class="text-zinc-100 font-extrabold text-center transition-all hover:brightness-125"
        >
          Made with ♥ by Elliot Garamendi.
        </h2>
      </a>
    </div>
  </nav>
</footer>
