<header class="fixed z-50 top-0 w-full bg-sky-500">
  <nav class="py-4">
    <div class="container px-4 mx-auto flex items-center justify-between">
      <a href="#" class="flex items-center gap-2">
        <img
          src="https://www.svgrepo.com/show/353925/javascript.svg"
          alt="JS Technologies"
          width="32"
          height="32"
          loading="lazy"
          class="w-8 h-8 object-cover"
        />
        <h1
          class="text-zinc-100 text-xl font-black transition-all hover:brightness-125"
        >
          Technologies
        </h1>
      </a>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/elliotgaramendi/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-zinc-100 font-semibold transition-all brightness-125"
          >
            Elliot
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>